<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Web Restaurant</title>
</head>
<body>
  <a href="#mainContent" class="skip_link">Skip to Content</a>
  <header class="header">
    <div class="header_inner">
      <h1 tabindex="0" class="header_title">
        La Côte d'Or
      </h1>
    </div>
    <button id="hamburger" class="header_menu" aria-label="navigation menu">☰</button>

  <!-- Navigation -->

    <nav id="drawer">
      <ul class="nav_list">
        <li class="nav_item"><a href="/">Home</a></li>
        <li class="nav_item"><a href="#">Favorite</a></li>
        <li class="nav_item"><a href="https://github.com/youngnikoo">About Us</a></li>
      </ul>
    </nav>
  </header>

  <!-- Jumbotron -->
  <div class="hero_container">
    <div class="hero">
      <div class="hero_inner">
        <img tabindex="0" class="logo" src="images/heros/company-logo.png" alt="Company logo">
        <h2 tabindex="0" class="hero_description">Feeling the good taste</h2>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <main id="mainContent">
    <div class="container">
      <div class="resto">
        <h1 tabindex="0" class="resto_label">Explore Restaurant</h1>
        <div class="posts">
          <div id="restolist" class="card"></div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p tabindex="0">Copyright © 2022 - LA CÔTE D'OR</p>
  </footer>
</body>
</html>